<<<<<<< HEAD
extends layout.pug

block content

  body
    include includes/navigation
    h1= article.title
    h3= article.User.userName
    div Claps: #{article.claps}
    div= article.body
    if article.comments
      div= article.comments
    script(src="/js/index.js")
=======
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet" href="style.css")
    body
        h1= article.title
        div Claps: #{article.claps}
        div= article.body

        each comment in comments
            div
                div= comment.User.userName
                div= comment.comment


        //- a(href=`http://localhost:8080/articles/${article.id}/comment`)
        //-     div Tell us what you think!
            //- button(id="leave-a-comment") Comment
>>>>>>> master
